# Archivos de configuración local y de entorno con credenciales
**/appsettings.Development.json
**/appsettings.Production.json
**/appsettings.Local.json
**/appsettings*.secrets.json

# Archivos de publicación e builds de .NET
bin/
obj/
publish/
*.user